.content__body {
    padding: 30px;
    background-color: #fff;
}

.content__panel {
    padding: 16px;
    min-height: 100px;
    border: 1px solid #eeeeee;
}


.content__label {
    display: block;
}

.content__button {
    margin-top: 50px;
}